{% extends 'base.html.twig' %}

{% block title %}Ricardo Creates{% endblock %}

{% block body %}
    <style>
        .styled-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
            background-color: white;
            color: black;
            padding: 40px;
        }

        .styled-headline {
            font-size: 3rem;
            color: black;
            margin-bottom: 20px;
            text-align: center;
        }

        .styled-link {
            text-decoration: none;
            background-color: transparent;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: 500;
            padding: 4px 2px;
            transition: background-color 0.3s ease;
        }

        .styled-link:hover {
            background-color: #34495e;
            color: white;
        }

        @media (min-width: 650px) {
            .styled-link {
                font-size: 1.2rem;
                padding: 8px 16px;
            }
        }
    </style>

    <div class="styled-container">
        <h1>About</h1>
    </div>
{% endblock %}
