<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<header>
    <h1>My personal PhP Website</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/greet">Greet</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
</html>